.logos_item_hover_derco
{
	float: left;
    margin-top: 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
.logos_item_hover
{
	float: left;
    margin-top: 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 9999;
}